.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100vw;
    height: 60px;
    background-color: #9AA6B2;
}

.header-title {
    width: 200px;
    text-align: center;
}

.user-container {
    /* background-color: salmon; */
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-circle {
    border: 1px solid red;
    background-color: grey;

    width: 40px;
    height: 40px;
    border-radius: 50%;
}