.popup-form-container {
    position: relative;
}

.popup {
    position: absolute;
    width: 220px;
    height: 200px;
    right: calc(100% + 21px);
    top: 50px;

    display: flex;
    flex-direction: column;

    background-color: #D9EAFD;

    border: 1px solid black;
    border-radius: 5px;
    z-index: 2;
}

.close-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    margin-right: 5px;
}

.close-btn {
    width: 20px;
}

.input-container {
    margin: 5px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-container input {
    width: 160px;
    margin: 5px auto;
}

.btns-container {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}